<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: page(title='Inventory', content=~{::main})}">
<body>
<main>
    <h2>Inventory Storage Location Tracking</h2>
    <p class="text-muted">Actors: Warehouse Clerk, Senior Sales Executive</p>
    <ul>
        <li>TODO: Generate pick ticket (PBI + Function 1)</li>
        <li>TODO: Scan QR code &amp; view storage location</li>
        <li>TODO: Update stock after picking</li>
        <li>TODO: Assign / update location codes</li>
        <li>TODO: View pending pick ticket queue</li>
    </ul>
</main>
</body>
</html>
